  html {
    font-family: "Lucida Sans", sans-serif;
  }
  h1 {
    font-weight: 300;
    font-size: 2rem;
    margin: 0px 0px 0px 0px;
  }

  p {
    font-weight: 100;
    font-size: .75rem;
    
    line-height: 1.2rem;
    margin: 10px 0px 10px 0px;
  }

  .image {
    max-width: 400px;
    float: left;
    margin: 0px 20px 24px 20px;

  }
  .content {
    
    max-width: 400px;
    float: left;
    margin: 0px 20px 0px 20px;
  }
  .section {
    margin: 0px 20px 30px 20px;
  }

  .accordion {
    background-color: #f8f8f8;
    color: #555;
    cursor: pointer;
    border-radius: 5px 5px 0px 0px;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: .9em;
    transition: 0.4s;
  }
  
  .active, .accordion:hover {
    background-color: #ebebeb;
  }
  
  .accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 0px;
  }
  
  .active:after {
    content: "\2212";
  }
  
  .panel {
    padding: 0 18px;
    margin: 0px 0px -4px 0px;
    background-color: #fcfcfc;
    border-radius: 0px 0px 5px 5px;
    font-weight: 100;
    max-width: 400px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
  
  .tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

/* Dark Mode */
@media (prefers-color-scheme: dark) {
  body {
    color: #eee;
    background: #121211;
  }
  .accordion {
    color: #f8f8f8;
    background-color: #555;
  }
  .panel {
    background-color: transparent;
  }
  .accordion:hover {
    color: #121212;
  }
  /* Created a new color for active, not too fond of it, but I wanted to show the state change. */
  .active {
    color: #c4c4c4;
  }
}